<div>
  <h2>Add a Celebrity to the Database</h2>
  <form action="/celebrities" method="POST">
    <label for="name">Celeb Name:</label>
    <input type="text" name="name">
    <label for="name">Celeb Occupation:</label>
    <input type="text" name="occupation">
    <label for="name">Celeb Catch Phrase:</label>
    <input type="text" name="catchPhrase">
    <button>Add Celeb</button>
  </form>
</div>